/*
Theme Name: Unite Child
Template: unite
Text Domain: unite-child
*/
@import url("../unite/style.css");

.films {

}

.films .film-item {
    border-bottom: 1px solid #EEE;
    position: relative;
    display: block;
    padding: 10px 15px;
}