<div class="row search">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group">
                <label>Search city</label>
                <input type="text" class="form-control" id="city" ng-model="citySearch" placeholder="Search for city'tempenture">
            </div>
            <button ng-click="doSearch(citySearch)" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<div class="row cities">
    <weather ng-repeat="city in cities" data="city"></weather>
</div>