<div class="col-md-3 city-item" ng-if="city">
    <div class="today text-center">
        <p>Today {{city.consolidated_weather[0].applicable_date | date : "dd"}}</p>
        <p>{{city.title}}</p>
        <p>Now {{city.consolidated_weather[0].the_temp | number :2}} &#8451;</p>
        <p>Max {{city.consolidated_weather[0].max_temp | number :2}} &#8451;</p>
        <p>Min {{city.consolidated_weather[0].min_temp | number :2}} &#8451;</p>
        <p>{{city.consolidated_weather[0].weather_state_name}} <img width="30"
                                                                    ng-src="img/{{city.consolidated_weather[0].weather_state_abbr}}.svg"
                                                                    alt=""></p>
    </div>

</div>
<div class="col-md-9">
    <div class="row">
        <div class="col-md-4" ng-repeat="c in city.consolidated_weather" ng-hide="$first">
            <div class="days">
                <p>{{c.applicable_date | date : "EEEE dd" }}</p>
                <p>Now {{c.the_temp | number :2}} &#8451;</p>
                <p>Max {{c.max_temp | number :2}} &#8451;</p>
                <p>Min {{c.min_temp | number :2}} &#8451;</p>
                <p>{{c.weather_state_name}} <img width="30"
                                                 ng-src="img/{{c.weather_state_abbr}}.svg"
                                                 alt=""></p>
            </div>
        </div>
    </div>

</div>
