<div class="col-md-4 city-item">
    <a href="#!/weather/{{$ctrl.data.woeid}}">
        <p>{{$ctrl.data.title}}</p>
        <p>Now {{$ctrl.data.consolidated_weather[0].the_temp | number :2}} &#8451;</p>
        <p>Max {{$ctrl.data.consolidated_weather[0].max_temp | number :2}} &#8451;</p>
        <p>Min {{$ctrl.data.consolidated_weather[0].min_temp | number :2}} &#8451;</p>
        <p>{{$ctrl.data.consolidated_weather[0].weather_state_name}} <img width="30"
                                                                          ng-src="img/{{$ctrl.data.consolidated_weather[0].weather_state_abbr}}.svg"
                                                                          alt=""></p>
    </a>
</div>