.film-img{
    height: 300px;
    width: auto;
    background: #000;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: center;

}
.film-name {
    font-size: 22px;

}

.checked {
    color: orange;
}

.comments{
    margin-top: 30px;
    margin-bottom: 50px;
}
.comments .comment{
    margin-top: 10px;
    border-radius: 5px;
    background: #F0F0F0;

    padding: 10px 10px 10px 10px;
}