body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.cities{

}

.city-item, .days{
    margin-bottom: 30px;
}

.main{
    padding-top: 50px;
}


.city-item a{
    text-decoration: none;
}

.search{
    margin-bottom: 10px;
}